<div class="row">
  <div class="col-lg-4 col-md-6 col-12 offset-lg-4 offset-md-3">
    <h1>Изменить пароль</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :password, 'Новый пароль', class: 'form-label' %>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
        <p class="form-text">Оставьте пустым если не хотите изменять пароль</p>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation, 'Повторите пароль', class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :current_password, 'Старый пароль', class: 'form-label' %>
        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
        <p class="form-text">Необходимо заполнить для приминения изминений</p>
      </div>
      <div class="d-grid gap-2 mb-3">
        <%= f.submit 'Изменить', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-12 text-center mb-3">
        <%= link_to 'Вернуться', :back, class: 'text-decoration-none' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3 mb-3">
        <%= button_to 'Удалить аккаунт', registration_path(resource_name), method: :delete,
          form: {data: {turbo_confirm: 'Вы действительно хотите удалить аккаунт?'}},
          class: 'link-danger tr-btn text-decoration-none' %>
      </div>
    </div>
  </div>
</div>
