<%= form_with model: user, data: {turbo: false} do |form| %>
  <%= render partial: 'partials/form_errors', locals: { model: @user } %>
  <div class="mb-3">
    <%= form.label :name, 'Имя', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <div class="d-grid gap-2">
      <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
