<div class="text-center">
  <h1 class="mb-3"><%= @user.name %></h1>
  <div class="row justify-content-center mb-4">
    <div class="col-lg-2 col-md-4 col-6">
      <%= image_tag user_avatar(@user), class: 'img-fluid rounded-circle' %>
    </div>
  </div>
  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to t('user.edit_profile'), edit_user_path(@user), class: 'btn btn-primary' %>
    </p>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <h3 class="mb-3"><%= t('user.organized') %></h3>
        <div class="row g-3">
          <%= render @user.events %>
        </div>
      <% else %>
        <p class="buffer-top"><%= t('user.no_events') %></p>
      <% end %>
    </div>
  </div>
</div>
