<div class="row">
  <div class="col-md-6 offset-md-3 mt-3">
    <h1><%= t('event.private_event') %></h1>
    <%= form_with url: event_path(@event), method: :post, data: {turbo: false} do |form| %>
      <% if flash[:alert].present? %>
        <%= render partial: 'partials/alert' %>
      <% end %>
      <div class="mb-3">
        <%= form.label :pincode, t('activerecord.attributes.event.pincode'), class: 'form-label' %>
        <%= form.password_field :pincode, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <div class="d-grid gap-2">
          <%= form.submit t('global.sign_in'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
