<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background event-background-blur',
        style: "background-image: url(#{asset_path('event.jpg')})" %>
      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :long %></h3>
            <h3>
              <small><%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}" %></small>
            </h3>
            <p><%= @event.description %></p>
          </div>
          <% if current_user_can_edit?(@event) %>
            <div class="mt-3 mb-3">
              <%= link_to t('global.change'), edit_event_path(@event), class: 'btn btn-primary mb me-3' %>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEventModal">
                <%= t('global.delete') %>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'delete_event', event: @event %>
