<div class="col">
  <figure class="figure mb-1">
    <%= link_to image_tag(photo.photo.variant(:thumb), class: 'figure-img img-fluid rounded mb-0'), url_for(photo.photo),
      data: {toggle: 'lightbox', gallery: 'gallery'} %>
    <figcaption class="figure-caption text-start">
      <%= link_to photo.user.name, user_path(photo.user), class: 'text-decoration-none' %>
      <% if current_user_can_edit?(photo) %>
        <button type="button" class="tr-btn" data-bs-toggle="modal" data-bs-target="#photo_<%= photo.id %>">
          <i class="bi bi-trash3"></i>
        </button>
      <% end %>
    </figcaption>
  </figure>
</div>
<div class="modal fade" id="photo_<%= photo.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-start">
        <%= t('photo.are_you_sure') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><%= t('global.cancel') %></button>
        <%= button_to t('global.delete'), event_photo_path(photo.event, photo), method: :delete, data: {turbo: false},
          class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  </div>
</div>
